/* style.css */
body {
  font-family: 'Tahoma', sans-serif;
  color: #EBE9E9;
  background: #424242;
  margin: 2rem;
}


h1, h2, h3 {
	text-align: center;
}

h1 {
  color: #424242;
  font-family: 'Tahoma', sans-serif;
  text-align: center;
  background: #aed8e6;
  padding: 5px
}


.parent {
	display: flex;
	gap: 1rem;
}

.right-container {
  max-width: 1200px;
  margin: 2rem;
  flex: 1;
}
.left-container {
  max-width: 400px;
  margin: 2rem;
  margin-top: 5rem;
  flex: 1;
}

textarea{
  display: block;
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  font-family: 'Tahoma', sans-serif;
  color: #424242;
  border-radius: 10px;
}

label{
  display: inline-block;
  vertical-align: middle;
  padding: 0.5rem;
  border-radius: 10px;
  background: #EBE9E9; 
  color: #424242;
  font-size: 90%;
}

input{
	display: block;
	width: 100%;
	margin: 0.5rem 0;
	padding: 0.5rem;
	font-family: 'Tahoma', sans-serif;
	border-radius: 20px;
	background: #EBE9E9; 
	color: #424242;
}

button {
	display: block;
	background: #aed8e6;
	color: #424242;
	font-weight: bold;
	font-size: 150%;
	font-family: 'Tahoma', sans-serif;
	padding: 1rem;
	width: 105%;
	margin: 0.5rem 0;
	border-radius: 10px;
	border: 3px solid #c9f2f6;
	}

#groupInput {
  display: block;
  width: 20%;
  margin-left: 40%;
  padding: 0.5rem;
  font-family: 'Tahoma', sans-serif;
  color: #424040;
  border-radius: 10px;
}

#namesInput {
  width: 100%;
  height: 120px;
  resize: vertical;
  box-sizing: border-box;
  margin-left:2%;
}

#output {
  width: 100%;
  max-width: none;
  margin-left: 0;
  background: #EBE9E9;
  padding: 2rem;
  border: 15px solid #aed8e6;
  border-radius: 10px;
  font-family: 'Tahoma', sans-serif;
  font-size: 200%;
  color: #424040;
  text-align: center;
}


/*.background-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: url("https://bitord2gzq5flxo6okyadrirhqbg3jzzgauaixwtv34bt7ddpasq.arweave.net/Ciboj0bMOlXd3nKwAcURPAJtpzkwKARe0674GfxjeCU.jpg") center/cover no-repeat;
  opacity: 0.1;
  z-index: -1;
}*/


.center-wrapper {
  text-align: center;
}

a {
  color: #c9f2f6;           
  text-decoration: none;    
  font-weight: bold;        
  transition: color .2s;    
}

a:hover {
  color: #bdd7e0;
  text-decoration: underline;
}